<br>
<div class="container">
    <div class="row">
        <div class=""></div>
        <div class="col-sm-12">
            <div class=" ">

                <div class="">
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <button class="btn btn-primary  btn-block "
                                    (click)='visibleParticulier()'>Particulier</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" style="color:cadetblue"
                                    (click)='visibleEntreprise()'>Entreprise</button>
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf='particulier'>
                        <br>

                        <div>
                            <form (ngSubmit)="addParticulier()" name="formparticulier" #forme=ngForm>
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <input type="text " class="form-control " placeholder="nom" name="nompart"
                                                required="true" [(ngModel)]="partic.nom">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text " class="form-control " placeholder="prénom"
                                                name="prenompart" required="true" [(ngModel)]="partic.prenom">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><p class="txtgray">  Date de Naissance</p></div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                        <input class="form-control" type="date" name="datenaisspart" id="example-date-input" placeholder="Date de naissance"
                                            required [(ngModel)]="partic.dateNaissance">
                                    </div></div>
                                </div>
                                
                                <div class="form-group">
                                    <input type="text " class="form-control" placeholder="adresse mail" name="mailpart"
                                        required="true" [(ngModel)]="partic.mail">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="mot de passe" type="password"
                                        name="mdp" required="true" [(ngModel)]="partic.mdp">
                                </div>
                                <p class="txtgray">Secteur(s) d'intérêt</p>
                                <div class="form-group">

                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine.idDomaine"
                                        required="true">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">{{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible1">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine1.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible2">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine2.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible3">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine3.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible4">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine4.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary btn-block" *ngIf="visible5"
                                    (click)="rendreNextVisible()">
                                    ajouter un secteur +</button>

                                    <br>


                                <p style="color:red " *ngIf="mailincorrect">adresse mail ou nom déjà utilisé</p>
                                <nav>
                                    <button class="btn btn-primary btn-block" style="color:darkcyan; background-color : white; border-color:lightgrey;" type="submit"
                                        [disabled]="!forme.form.valid"> Valider
                                        l'inscription</button>
                                        
                                </nav>
                            </form>
                        </div>
                    </div>
                    <div class="container" *ngIf='entreprise'>
                        <br>

                        <div>
                            <form (ngSubmit)=addEntreprise() name="formentreprise" #forme=ngForm>
                                <div class="form-group">
                                    <input type="text " class="form-control" placeholder="nom de l'entreprise"
                                        name="nomentreprise" required="true" [(ngModel)]="entrep.nom">
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" placeholder="adresse mail"
                                        name="mailentreprise" required="true" [(ngModel)]="entrep.mail">

                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="text " class="form-control" placeholder="adresse"
                                                name="adresseentreprise" required="true" [(ngModel)]="entrep.adresse">
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="code postal"
                                                name="CPentreprise" required="true" [(ngModel)]="entrep.codePostal">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text " class="form-control" placeholder="téléphone"
                                        name="telentreprise" required="true" [(ngModel)]="entrep.telephone">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="mot de passe" type="password"
                                        name="mdpentreprise" required="true" [(ngModel)]="entrep.mdp">
                                </div>
                                <p style="color:red text-center" *ngIf="mailincorrect">adresse mail deja utilisée</p>


                                <p class="txtgray">Secteur(s) d'expertise</p>

                                <div class="form-group">

                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine.idDomaine"
                                        required="true">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">{{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible1">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine1.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible2">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine2.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible3">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine3.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="visible4">
                                    <select class=form-control name="domainepart" [(ngModel)]="Domaine4.idDomaine">
                                        <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                            {{p.domaine}}</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary btn-block" *ngIf="visible5"
                                    (click)="rendreNextVisible()">
                                    ajouter un secteur +</button>

                                    <br>


                                <nav>
                                    <button [disabled]="!forme.form.valid" class="btn btn-block btn-primary" style="color:darkcyan; background-color : white; border-color:lightgrey;"
                                        type="submit"> Valider
                                        l'inscription</button>
                                </nav>


                            </form>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>