<div class="mat-dialog-content ">
    <div>
        <p class="titremoy">Modifications :</p>

        <form #forme=ngForm name="formentreprise" (ngSubmit)="modifProjet()">
            <div class="form-group">
                <input type="text " class="form-control " placeholder="nom du projet" name="nomProjet"
                    [value]="nomProjet" [(ngModel)]="projetmodif.nom" required>
            </div>

            <textarea id="form7" class=" form-control" name="descentreprise"
                placeholder="Décrivez votre projet dans ce cadre" [value]='descriptifProjet'
                [(ngModel)]="projetmodif.descriptif"></textarea>

                <br><br>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        Date de Début
                    </div>
                    <div class="col-sm-6">
                        <input id="datedebut" class="form-control" placeholder="date de debut" type="date"
                            [(ngModel)]="projetmodif.dateDebut" name="dateDebutProjet" [value]="dateDebutProjet"
                            required="true">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        Date de Fin
                    </div>
                    <div class="col-sm-6">
                        <input id="datefin" type="text" class="form-control" placeholder="date de fin" type="date"
                        [(ngModel)]="projetmodif.dateFin" name="dateFinProjet" [value]="dateFinProjet" required="true">
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
                <select class=form-control name="domainepart" required="true" [(ngModel)]="Domaine.idDomaine" >
                    <option *ngFor="let p of domaines"  [value]="p.idDomaine" >{{p.domaine}}</option> 
                   </select >
            </div>

            <div class="form-group">
                <input type=" number" class="form-control" placeholder="Nombre de participant requis"
                    name="nbrParticipantsProjet" [value]="nbrParticipantsProjet"
                    [(ngModel)]="projetmodif.nbrParticipants">
            </div>
            <div class="form-group">
                <input type="text " class="form-control" placeholder="Interessement" name="interessementProjet"
                    [value]="interessementProjet" [(ngModel)]="projetmodif.interessement">
            </div>
            <nav>
                <button [disabled]="!forme.form.valid" class="btn btn-block" style="color:cadetblue" type="submit"> Valider les modifications</button>
            </nav>
        </form>
    </div>

</div>