<div>
    <!-- partial:index.partial.html -->
    <div id="particles-js">
        <div class="container">
            <div class="row top">
                <div class="col-sm-10">
                    <div class="logo">C</div>
                    <h1 class="font-weight-bold">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;HerProject</h1>
                    <h2> Project Space</h2>
                </div>
                <div class="">
                    <div class="">
                        <button class="visit" (click)="callConnexionOrInscription()"> Connexion/Inscription</button>
                        <p  *ngIf="myService.msgIfNotCo" class="text-center font-weight-bold" style="color:white">
                            <br>
                                Vous devez être connecté(e)!
                        </p>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="one-half column">
                    <div class="pens pulled">
                        <h1>Particulier</h1>
                        <p class="colorWhite">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo nesciunt unde eius vero
                            quibusdam quos quidem corrupti alias id quisquam! Officia beatae minima, ex architecto quod
                            perferendis voluptatem veritatis iusto.</p>
                        <ul></ul>
                    </div>
                </div>

                <div class="one-half column">
                    <div class="posts pulled">
                        <h1>Entreprise</h1>
                        <p class="colorWhite">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo nesciunt unde eius vero
                            quibusdam quos quidem corrupti alias id quisquam! Officia beatae minima, ex architecto quod
                            perferendis voluptatem veritatis iusto.</p>
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container ">



            <footer id="sticky-footer" class="py-4 bg-secondary text-white-50">
                <div class="container text-center">
                    <small>Made in ESIC/SOLUTEC#DEV19 &copy; Your Website</small>
                </div>
            </footer>


        </div>
    </div>
    <!-- partial -->
</div>