<div class="body">
    <!-- partial:index.partial.html -->
    <div id="particles-js">
        <div class="container">
            <div class="row top">
                <div class="col-sm-10">
                    <br><br>
                    <div class="logo">C</div>
                    <h1 class="font-weight-bold">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HerProject</h1>
                    <h2> Partagez ici VOTRE projet !</h2>
                </div>
                <div class="">
                    <div class="">
                        <br>
                        <button class="btn btn-primary " id="btn-spec" (click)="callConnexionOrInscription()">
                            Connexion/Inscription</button>
                        <p *ngIf="myService.msgIfNotCo" class="text-center font-weight-bold" style="color:white">
                            <br>
                            Vous devez être connecté(e)!
                        </p>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="one-half column">
                    <div class="pens pulled">
                        <h1>Particulier</h1>
                        <p class="colorWhite"> Nos nombreuses entreprises membres vous proposent de vous investir dans
                            des projets innovants. S'engager sur une expérience <span
                                class="font-weight-bold blue">CherProjet</span>, c'est une opportunité pour
                         Les entreprises partenaires sont aussi à l'écoute de vos envies et seront la pour vous aider
                            à mener à bien toutes vos idées!</p>
                        <ul></ul>
                    </div>
                </div>

                <div class="one-half column">
                    <div class="posts pulled">
                        <h1>Entreprise</h1>
                        <p class="colorWhite">Présentez ici vos projets et atteignez le plus grand nombre avec <span
                                class="font-weight-bold blue">CherProjet</span> ! Profitez d'une communauté toujours
                            plus nombreuse et motivée, pour partager des connaissances et savoir faire. 
                        Grâce à son
                            outil de gestion intégré, <span
                            class="font-weight-bold blue">CherProjet</span> vosu permet de communiquer et de s'organiser avec nos membres en seuelment quelques clics.</p>
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container ">



            <footer id="sticky-footer" class="py-4 bg-secondary text-white-50">
                <div class="container text-center">
                    <small>Made in ESIC/SOLUTEC#DEV19 &copy; Your Website</small>
                </div>
            </footer>


        </div>
    </div>
    <!-- partial -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>