<div *ngIf="myService.SessionParticulier()">
<div *ngIf="myService.userEnLigne()"> 

<div class="mat-dialog-content ">

    <div>
        <p class="titre">Modification du profil :</p>

        <form name="formparticulier" (ngSubmit)="modifParticulier()" #forme=ngForm>
            <div class="form-group">
                <input type="text " class="form-control " placeholder="nom de l'utilisateur" name="nom" required="true"
                    [(ngModel)]="partmodif.nom" [value]='nom'>
            </div>
            <div class="form-group">
                <input type="text " class="form-control " placeholder="prenom de l'utilisateur" name="prenom" required="true"
                    [(ngModel)]="partmodif.prenom" [value]='prenom'>
            </div>
            <div class="form-group">
                <input type="text " class="form-control" placeholder="adresse mail" name="mail" required="true"
                    [(ngModel)]="partmodif.mail" [value]='mail'>
            </div>

            <div class="form-group">
                <input class="form-control" type="date" placeholder="date de naissance" name="dateNaissance" required="true"
                    [(ngModel)]="partmodif.dateNaissance" [value]="dateNaissance">
                    
            </div>

            <div class="form-group" *ngIf="false">
                <select class=form-control name="domainepart" [(ngModel)]="Domaine.idDomaine" required="true">
                    <option ng-selected="selected" [value]="DomainePar.domaine.idDomaine">{{DomainePar.domaine.domaine}}</option>
                    <option *ngFor="let p of domaines" [value]="p.idDomaine">{{p.domaine}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="false">
                <select class=form-control name="domainepart" [(ngModel)]="Domaine1.idDomaine">
                    <option [value]="DomainePar1.domaine.idDomaine" selected>{{DomainePar1.domaine.domaine}}
                    </option>
                    <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="false">
                <select class=form-control name="domainepart" [(ngModel)]="Domaine2.idDomaine">
                    <option selected="true" [value]="DomainePar2.domaine.idDomaine">{{DomainePar2.domaine.domaine}}
                    </option>
                    <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="false">
                <select class=form-control name="domainepart" [(ngModel)]="Domaine3.idDomaine">
                    <option selected="true" [value]="DomainePar3.domaine.idDomaine">{{DomainePar3.domaine.domaine}}
                    </option>
                    <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="false">
                <select class=form-control name="domainepart" [(ngModel)]="Domaine4.idDomaine">
                    <option selected="true" [value]="DomainePar4.domaine.idDomaine">{{DomainePar4.domaine.domaine}}
                    </option>
                    <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                </select>
            </div>
            <button type="button" class="btn btn-outline-info" *ngIf="visible5" (click)="rendreNextVisible()">
                ajouter un secteur +</button>
            <textarea id="form7" class=" form-control" name="bio"
                placeholder="Décrivez ici votre parcours, vos expériences et vos projets futurs." [value]='bio'
                [(ngModel)]="partmodif.bio"></textarea>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="mot de passe" type="password" name="mdp" required="true"
                    [value]='mdp' [(ngModel)]="partmodif.mdp">
            </div>

            <p class="txtgray">Photo de profil</p>

            <input type="file" name="photo" [value] = 'photo' [(ngModel)]="partmodif.photo" (change)="onFileChanged($event)" #file>

            <br>

            <div class="text-center">
                <img [src]="img" height="80" *ngIf="img">
            </div>
            <br>

           <!-- <div class="text-center" class="form-group">
                Ajouter une photo
                <button mat-icon-button class="btn" color="primary" (click)="file.click()">
                    <mat-icon>perm_media</mat-icon>
                </button>
            </div> -->

            <nav>
                <button [disabled]="!forme.form.valid" class="btn btn-block" style="color:cadetblue" type="submit"> Valider les modifications</button>
            </nav>


        </form>
    </div>

</div>

</div> 
</div>