<div *ngIf="myService.SessionEntreprise()">
<br>
<div class="row">
    
    <div *ngFor="let p of part" style="color: white;">
    
    <br>
        <div class="col-sm-12">
            <div class="container">
                <mat-card style ="">
                    <mat-card-header>
                        <div mat-card-avatar> 
                            <img  [src]="changeForm(p.particulier.photo)"  width="50px" style = "background-size: cover;"> 
                        </div>
                        <mat-card-title>{{p.particulier.prenom}} {{p.particulier.nom}}</mat-card-title>
                        <mat-card-subtitle>Projet : {{p.projet.nom}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <br>
                        <p>{{p.particulier.bio}} </p>
                        <br>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button class="form-control" (click) = "accepterCandidature(p)">VALIDER</button>
                        <button mat-button class="form-control" (click) = "supprimerCandidature(p)">REFUSER</button>
                    </mat-card-actions>
                </mat-card>
                <br>
            </div>
        </div>
    </div>
</div>
</div>