<div *ngIf="myService.SessionEntreprise()">
    <div *ngIf="myService.userEnLigne()">
        <div class="container bgWhite container-ombre">

            <br>
            <h2>Consultez tous vos projets !</h2>
            <hr>

            <mat-toolbar style="color: white;">
                <mat-toolbar-row>
                    <div style="color: black; ">Projets en attente de candidats</div>
                </mat-toolbar-row>
            </mat-toolbar>

            <br>
            
            <div class="row">

                <div class="col-sm-6" *ngFor="let p of projetattente">

                    <mat-card class="card-style">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <img [src]="changeForm(p.entreprise.photo)" width="50px"
                                    style="background-size: cover;">
                            </div>
                            <mat-card-title>{{p.nom}}</mat-card-title>
                            <mat-card-subtitle>{{p.dateDebut}} - {{p.dateFin}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{p.descriptif}} </p>
                            <br>
                            <p style="color:gray">
                                <b>Participants nécéssaires :</b> {{p.nbrParticipants}} <br>
                                <b>Participants reel :</b> {{p.nbrParticipantsReel}} <br>
                                <b>Intéressement : </b> {{p.interessement}}
                            </p>

                        </mat-card-content>
                        <mat-card-subtitle *ngFor="let n of domainesProjet ">
                            <div *ngIf="n.domaine.idDomaine != '1' && n.projet.idProjet== p.idProjet">
                                {{n.domaine.domaine}}</div>
                        </mat-card-subtitle>

                        <mat-card-actions>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button mat-button class="btn btn-primary btn-block" (click)="modifProjet(p)">Modifier</button>
                                    <button mat-button class="btn btn-primary btn-block" (click)="validerProjet(p)">Voir les candidatures</button>
                                </div>
                                <div class="col-sm-6">
                                    <button mat-button class="btn btn-primary btn-block" (click)="deleteProjet(p)">Supprimer</button>
                                    <button mat-button class="btn btn-primary btn-block" (click)="lancerProjet(p)">Lancer le projet</button>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>

                    <br>

                </div>

            </div>

            <mat-toolbar style="color: white;">
                <mat-toolbar-row>
                    <div style="color: black; ">Projets terminés</div>
                </mat-toolbar-row>
            </mat-toolbar>

            <br>

            <div class="row">
                <div class="col-sm-6" *ngFor="let p of projetpasse">
                    <mat-card class="card-style">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <img [src]="changeForm(p.entreprise.photo)" width="50px"
                                    style="background-size: cover;">
                            </div>
                            <mat-card-title>{{p.nom}}</mat-card-title>
                            <mat-card-subtitle>{{p.dateDebut}} - {{p.dateFin}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{p.descriptif}} </p>
                            <br>
                            <p style="color:gray">
                                <b>Participants nécéssaires :</b> {{p.nbrParticipants}} <br>
                                <b>Intéressement : </b> {{p.interessement}}
                            </p>
                        </mat-card-content>
                        <mat-card-subtitle *ngFor="let n of domainesProjet ">
                            <div *ngIf="n.domaine.idDomaine != '1' && n.projet.idProjet== p.idProjet">
                                {{n.domaine.domaine}}</div>
                        </mat-card-subtitle>
                        <mat-card-actions>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button mat-button class="btn btn-primary btn-block" (click)="modifProjet(p)">Modifier</button>
                                </div>
                                <div class="col-sm-6">
                                    <button mat-button class="btn btn-primary btn-block" (click)="deleteProjet(p)">Supprimer</button>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                    

                </div>
            </div>

            <br>

            <mat-toolbar style="color: white;">
                <mat-toolbar-row>
                    <div style="color: black; ">Projets en cours</div>
                </mat-toolbar-row>
            </mat-toolbar>

            <br>

            <div class="row">
                <div class="col-sm-6" *ngFor="let p of projetencours">
                    <mat-card class="card-style">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <img [src]="changeForm(p.entreprise.photo)" width="50px"
                                    style="background-size: cover;">
                            </div>
                            <mat-card-title>{{p.nom}}</mat-card-title>
                            <mat-card-subtitle>{{p.dateDebut}} - {{p.dateFin}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{p.descriptif}} </p>
                            <br>
                            <p style="color:gray">
                                <b>Participants nécéssaires :</b> {{p.nbrParticipants}} <br>
                                <b>Intéressement : </b> {{p.interessement}}
                            </p>
                        </mat-card-content>
                        <mat-card-subtitle *ngFor="let n of domainesProjet ">
                            <div *ngIf="n.domaine.idDomaine != '1' && n.projet.idProjet== p.idProjet">
                                {{n.domaine.domaine}}</div>
                        </mat-card-subtitle>
                        <mat-card-actions>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button mat-button class="btn btn-primary btn-block" (click)="goToProjet(p)">Espace projet</button>
                                </div>
                                <div class="col-sm-6">
                                    <button mat-button class="btn btn-primary btn-block" (click)="terminerProjet(p)">Terminer le projet</button>
                                </div>
                            </div>
                                
 
                        </mat-card-actions>
                    </mat-card>
                    <br>
                </div>

            </div>
            
            <mat-toolbar style="color: white;">
                <mat-toolbar-row>
                    <div style="color: black; ">Projets à venir</div>
                </mat-toolbar-row>
            </mat-toolbar>

            <br>

            <div class="row">
                    <div class="col-sm-6" *ngFor="let p of projetavenir">
                            <mat-card class="card-style">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <img [src]="changeForm(p.entreprise.photo)" width="50px"
                                            style="background-size: cover;">
                                    </div>
                                    <mat-card-title>{{p.nom}}</mat-card-title>
                                    <mat-card-subtitle>{{p.dateDebut}} - {{p.dateFin}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{p.descriptif}} </p>
                                    <br>
                                    <p style="color:gray">
                                        <b>Participants nécéssaires :</b> {{p.nbrParticipants}} <br>
                                        <b>Intéressement : </b> {{p.interessement}}
                                    </p>
                                </mat-card-content>
                                <mat-card-subtitle *ngFor="let n of domainesProjet ">
                                    <div *ngIf="n.domaine.idDomaine != '1' && n.projet.idProjet== p.idProjet">
                                        {{n.domaine.domaine}}</div>
                                </mat-card-subtitle>
                                <mat-card-actions>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button mat-button class="btn btn-primary btn-block" (click)="commencerProjet(p)">Commencer le projet</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button mat-button class="btn btn-primary btn-block" (click)="deleteProjet(p)">Supprimer</button>
                                        </div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                            <br>
                    </div>
            </div>
        </div>

    </div>
</div>