
<div *ngIf="myService.userEnLigne()">   
    <div *ngFor= "let p of projet"> +
        <p style="color: antiquewhite;"> nom du projet : {{p.nom}}</p>
        <p style="color: antiquewhite;"> date de debut : {{p.date_debut}}</p>
        <p style="color: antiquewhite;"> date de fin : {{p.date_fin}}</p>
        <p style="color: antiquewhite;"> descriptif : {{p.descriptif}}</p>
        <p style="color: antiquewhite;"> interessement : {{p.interessement}}</p>
        <p style="color: antiquewhite;"> nombre de participants : {{p.nbr_participants}}</p>
    </div>
</div>
