<div class="container bgWhite">
    <br>
    <form (ngSubmit)="envoiMsg()" >
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="..." name="msg" [(ngModel)]=envoiMsgtxt >
            </div>
            <div class="col-sm-2">
            <button class="btn btn-primary btn-block" type="submit">Envoyer</button>    
        </div>            
        </div>
    </form>
    
    <table class="table table-borderless">
        

        <tr *ngFor="let message of messages">
          <td class="datemsgprojet">
              {{message.date}}
            </td>     
            <td class="datemsgprojet">
                {{message.auteurP.nom}} {{message.auteurP.prenom}}
            </td>       
            <td>
                : {{message.contenu}}
                
            </td>

        </tr>

      </table>
      <br><br><br><br><br>
</div>