<div *ngIf="myService.SessionParticulier()">
    <div class="container bgWhite container-ombre">
        <br>
        <h2>Recherchez un projet parmi ceux proposés par la communauté </h2>
        <hr>
        <div class="row">
            <div class="col-sm-3 txtgray ">
                <br>
                <p class="text-align-middle">Critères de recherche</p>
            </div>
            <div class="col-sm-3">
                <br>
                <input class="form-control " type="text" placeholder="Nom du projet" name="choix"
                    [(ngModel)]="filtreNom">

            </div>
            <div class="col-sm-3">
                <br>
                <input class="form-control " type="text" placeholder="Nom de l'entreprise" name="choix"
                    [(ngModel)]="filtreNomEntreprise">
            </div>
        </div>
        <br>
        <hr>
        <br>

        <div class="row">
            <div class="col-sm-6"
                *ngFor="let p of projet | filtreNomProjet:filtreNom | filtreNomEntreprise:filtreNomEntreprise | triParDate:triParDate">


                <mat-card class="card-style">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <img [src]="changeForm(p.entreprise.photo)" width="50px" style="background-size: cover;">
                        </div>

                        <mat-card-title>{{p.nom}}</mat-card-title>
                        <mat-card-subtitle>{{p.entreprise.nom}}</mat-card-subtitle>
                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <p>{{p.descriptif}} </p>
                        <br>

                        <p style="color:gray">
                            Du {{p.dateDebut}} au {{p.dateFin}} <br>
                            <b>Participants nécéssaires :</b> {{p.nbrParticipants}} <br>
                            <b>Intéressement : </b> {{p.interessement}}
                        </p>

                    </mat-card-content>
                    <hr>
                    <mat-card-actions>
                        <button mat-button (click)="engagement(p)">JE M'ENGAGE</button>
                    </mat-card-actions>
                    <mat-card-subtitle *ngFor="let n of domainesProjet "><div *ngIf="n.domaine.idDomaine != '1' && n.projet.idProjet== p.idProjet" >{{n.domaine.domaine}}</div></mat-card-subtitle>
                </mat-card>


                <br>


            </div>
        </div>

    </div>
</div>