<div class="container bgWhite">

    <h1 class="nom-entreprise">{{projet.nom}}</h1>
    <p>Projet de {{projet.entreprise.nom}}</p>
    <br>
    <p>Participants au projet :</p>
    <div *ngFor="let participation of participations ">
     - {{participation.particulier.prenom}} {{participation.particulier.nom}}
    </div>

    <br>

    <mat-tab-group>
        <mat-tab label="Calendrier">
            <app-gestion></app-gestion>
           

        </mat-tab>
        <mat-tab label="Messagerie">
            <app-messagerie-projet></app-messagerie-projet>


        </mat-tab>
        <mat-tab label="Partage de fichiers">
            <app-partage-fichier></app-partage-fichier>


        </mat-tab>
    </mat-tab-group>

</div>

    


