<div *ngIf="myService.EnLigne()">



<div *ngIf="myService.visibleNavEntreprise">
  

  
<!-- Navbar entreprise -->
<nav class="navbar navbar-expand-lg navbar-light bg-light nav_link" >
  
  <h1 class="navbar-brand" >{{title}}</h1>

  <ul class="navbar-nav navbar-collapse" id="nav-entreprise">
    <li class="nav-item">
      <a class="nav-link" routerLink="profil-entreprise" routerLinkActive='active'>PROFIL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="proposer-projet-entreprise" routerLinkActive='active'>PROPOSER UN PROJET</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="projets" routerLinkActive='active' >MES PROJETS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="messagerie-entreprise" routerLinkActive='active' >MESSAGERIE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="demandes-utilisateurs" routerLinkActive='active' >DEMANDES UTILISATEUR</a>
    </li>


  </ul>  
  <ul class="navbar-nav ml-auto">
    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#nav-entreprise"aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <li class="nav-item ">
        <button (click)="deconnexion()" type="button" routerLink="home-page" class="btn btn-primary">DECONNEXION</button>    
      </li>
  </ul>  
</nav>
</div>

<div *ngIf="myService.visibleNavParticulier">

<!-- Navbar utilisateur -->
<nav class="navbar navbar-collapse navbar-expand-lg navbar-light bg-light nav_link navbar-collapse" >
<h1 class="navbar-brand">{{title}}</h1>
  <ul class="navbar-nav navbar-collapse" id="myNavbar" >
    
    <li class="nav-item">
      <a class="nav-link" routerLink="profil-utilisateur" routerLinkActive='active'>PROFIL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="recherche-projet" routerLinkActive='active'>RECHERCHER UN PROJET</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="recherche-entreprise" routerLinkActive='active'>RECHERCHER UNE ENTREPRISE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="projets-particulier" routerLinkActive='active' >MES PROJETS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="messagerie" routerLinkActive='active' >MESSAGERIE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="proposer-projet-utilisateur" routerLinkActive='active' >PROPOSER UN PROJET</a>
    </li>
    
  </ul>

  <ul class="navbar-nav  ml-auto">  
    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar"aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="nav-item ">
      <button (click)="deconnexion()" type="button" routerLink="home-page" class="btn btn-primary">DECONNEXION</button>    
    </li>
</ul>  
 

</nav>

</div>

</div>
<router-outlet></router-outlet>