<div *ngIf="myService.SessionEntreprise()">
<div *ngIf="myService.userEnLigne()"> 


<div class="container shadow p-3 mb-5 bg-white rounded">

    <div class="container bgWhite">
        <div class="row">
            <div class="sm-col-2"></div>


        </div>

        <div>

            <img  [src]="changeForm(e.photo)" *ngIf="photoExist(e.photo)"  width="100px" class="rounded">

        </div>

        <div class="nom-entreprise">
            {{e.nom}}
            <button class="btn btn-primary pull-right" id="right-panel-link" (click) = "callModifProfilEntreprise()" > Modifier</button>
        </div>
        
        <br>
        <hr>
        <p class="titremoy">Présentation de l'entreprise :</p>

        <p placeholder="Décrivez votre entreprise dans ce cadre, vos projets et vos valeurs">{{e.description}}
        </p>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-8">
                <table class="table table-borderless borderless">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold ombre align-middle"> Mail </td>
                            <td class="petittexte">{{e.mail}} </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold ombre align-middle"> Site web </td>
                            <td class="petittexte"><a href="{{entreprise.siteWeb}}">{{e.siteWeb}} </a></td>
                        </tr>
                        <tr class="my-auto">
                            <td class="font-weight-bold ombre align-middle"> Secteur </td>
                            <td class="petittexte"></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold ombre align-middle"> Taille de l'entreprise &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp;
                            <td class="petittexte">{{e.tailleEntreprise}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold ombre align-middle"> Siège social </td>
                            <td class="petittexte">{{e.adresse}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold ombre align-middle">Fondée en </td>
                            <td class="petittexte">{{e.dateCreation}} </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>










    </div>


</div>
</div>
</div>