<div *ngIf="myService.SessionParticulier()">
<div *ngIf="myService.userEnLigne()"> 

    <div class="container shadow p-3 mb-5 bg-white rounded">

        <div class="container bgWhite">


            <div class="row">
                <div class="col-sm-2"><div>
    
                    <img  [src]="changeForm(p.photo)" *ngIf="photoExist(p.photo)"  width="100px" class="rounded">
    
                </div></div>
                <div class="col-sm-9">
                    <div class="text-align-middle">
                        {{p.prenom}} {{p.nom}}
                    </div>
                </div>
                <div class="col-sm-1">
                    
                    <button class="btn btn-primary pull-right" id="right-panel-link" (click) = "callModifProfilParticulier()"> Modifier</button>
                </div>
                
            </div>

    
            
            
            <br>
            <hr>
            <p class=" font-weight-bold"> Description :</p>
    
            <p>{{p.bio}}
            </p>
            <br>
            <hr>
            <br>
            <div class="row">
                
                
                <div class="col-sm-3"> 
                    
                    <p class=" font-weight-bold"> Détails :</p>
                </div>
    
                <div class="col-sm-6">
                    <table class="table table-borderless borderless">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold ombre align-left"> Mail </td>
                                <td class="petittexte">{{p.mail}} </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold ombre align-left"> Date de naissance </td>
                                <td class="petittexte">{{p.dateNaissance}}</td>
                            </tr>
                            <tr class="my-auto">
                                <td class="font-weight-bold ombre align-left"> Secteur(s) d'intérêt </td>
                                <td class="petittexte" *ngFor="let p of domainesParticulier " ><div *ngIf="p.domaine.idDomaine != '1'" >{{p.domaine.domaine}}</div></td>
                            </tr>
    
                        </tbody>
                    </table>
                </div>
            </div>
    
    
    
    
    
    
    
    
    
    
        </div>
    
    
    </div>

</div>
</div>