<br>
<div class="container">
    <div class="">
        <div class=""></div>
        <div class="">
            <div class=" ">
                
                <div class=" ">
                    <br>
                    <div class="">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <button class="btn btn-primary btn-raised btn-block "
                                    (click)='visibleParticulier()'>Particulier</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-raised btn-block" style="color:cadetblue"
                                    (click)='visibleEntreprise()'>Entreprise</button>
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf='particulier'>
                        <br>

                        <div>
                            <form (ngSubmit)="connexionParticulier()">
     
                                <div class="form-group">
                                    <input type="text " class="form-control" placeholder="adresse mail" [(ngModel)] = "Particulier.mail"
                                        name="mail" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="mot de passe" [(ngModel)] = "Particulier.mdp" type="password"
                                        name="mdp" required>
                                </div>
                                <nav>
                                    <button class="btn btn-primary btn-block" type="submit"> Se connecter </button>
                                </nav>

                                <p *ngIf="visible" class="text-center font-weight-bold" style="color:crimson">
                                    <br>
                                    Identifiants incorrects!
                                  </p>


                            </form>
                        </div>
                    </div>
                    <div class="container" *ngIf='entreprise'>
                        <br>

                        <div>
                            <form (ngSubmit)="connexionEntreprise()">
     
                                <div class="form-group">
                                    <input type="text " class="form-control" placeholder="adresse mail" [(ngModel)] = "Entreprise.mail"
                                        name="mailentreprise" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="mot de passe" type="password" [(ngModel)] = "Entreprise.mdp"
                                        name="mdpentreprise" required>
                                </div>
                                <nav>
                                   <button class="btn btn-block" style="color:cadetblue" type="submit"> Se connecter </button>
                                </nav>

                                
                                <p *ngIf="visible" class="text-center font-weight-bold" style="color:crimson">
                                    <br>
                                    Identifiants incorrects!
                                  </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>




    </div>

</div>