<div *ngIf="myService.SessionEntreprise()">
    <div class="mat-dialog-content ">

        <div>
            <p class="titremoy">Modification du profil :</p>

            <form name="formentreprise" (ngSubmit)="modifEntreprise()" #forme=ngForm>
                <div class="form-group">
                    <input type="text " class="form-control " placeholder="nom de l'entreprise" name="nomentreprise"
                        required="true" [(ngModel)]="entrepmodif.nom" [value]='nomentreprise'>
                </div>
                <div class="form-group">
                    <input type="text " class="form-control" placeholder="adresse mail" name="mailentreprise"
                        required="true" [(ngModel)]="entrepmodif.mail" [value]='mailentreprise'>

                </div>
               
                <textarea id="form7" class=" form-control" name="descentreprise"
                    placeholder="Décrivez votre entreprise dans ce cadre, vos projets et vos valeurs"
                    [value]='descentreprise' [(ngModel)]="entrepmodif.description"></textarea>

                <select class=form-control name="domainepart" [(ngModel)]="Domaine.idDomaine" required="true">
                    <option *ngFor="let p of domaines" [value]="p.idDomaine">{{p.domaine}}</option>
                </select>

                <div class="form-group" *ngIf="visible1">
                    <select class=form-control name="domainepart" [(ngModel)]="Domaine1.idDomaine">
                        <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="visible2">
                    <select class=form-control name="domainepart" [(ngModel)]="Domaine2.idDomaine">
                        <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="visible3">
                    <select class=form-control name="domainepart" [(ngModel)]="Domaine3.idDomaine">
                        <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="visible4">
                    <select class=form-control name="domainepart" [(ngModel)]="Domaine4.idDomaine">
                        <option *ngFor="let p of domaines" [value]="p.idDomaine" required="true">{{p.domaine}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-outline-info" *ngIf="visible5" (click)="rendreNextVisible()">
                    ajouter un secteur +</button>


                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <input type="text " class="form-control" placeholder="siège social" name="adresseentreprise"
                                [value]='adresseentreprise' [(ngModel)]="entrepmodif.adresse">
                        </div>


                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="code postal" name="CPentreprise"
                                [value]='CPentreprise' [(ngModel)]="entrepmodif.codePostal">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <input type="text " class="form-control" placeholder="taille de l'entreprise" name="taillentreprise"
                        [value]='taillentreprise' [(ngModel)]="entrepmodif.tailleEntreprise">
                </div>
                <div class="form-group">
                    <input type="text " class="form-control" placeholder="année de création"
                        name="dateCreationentreprise" [value]='dateCreationentreprise'
                        [(ngModel)]="entrepmodif.dateCreation">
                </div>
                <div class="form-group">
                    <input type="text " class="form-control" placeholder="site web" name="siteWebentreprise"
                        [value]='siteWebentreprise' [(ngModel)]="entrepmodif.siteWeb">
                </div>
                <div class="form-group">
                    <input type="text " class="form-control" placeholder="téléphone" name="telentreprise"
                        required="true" [value]='telentreprise' [(ngModel)]="entrepmodif.telephone">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="mot de passe" type="password"
                        name="mdpentreprise" required="true" [value]='mdpentreprise' [(ngModel)]="entrepmodif.mdp">
                </div>
                <nav>
                    <button class="btn btn-block" [disabled]="!forme.form.valid" style="color:cadetblue" type="submit">
                        Valider les modifications</button>
                </nav>


            </form>
        </div>

    </div>
</div>