
BODY {
    background: rgba(209, 227, 230, 0.863);
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
  }

  .bgWhite{
    background-color: white;
  }
  .txtgraypetitgras{
    color: #999999 !important;
    font-size: 11px !important;
    font-weight: bold !important;

  }

.bgWhite{
    background-color: white;
}
.card-style{
    background-color: #F2F2F2 !important;
    
    
}
.container-ombre{
    box-shadow: 0px 0px 2px 1px #3838383d ;
}

.txtgray{
    color: #999999 ;
    font-size: 14px;
  }
  .petit{
    font-size: 11px !important;
  }
  .souligne{
    text-decoration: underline;
  }