
BODY {
    background: rgba(209, 227, 230, 0.863);
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
  }

  .bgWhite{
    background-color: white;
  }