<div *ngIf="myService.SessionEntreprise()">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card ">
                    <div class="card-header formhead ">
                        <h1 class="text-center"> <span class="font-weight-bold">Créez VOTRE projet</span><br>
                            en seulement quelques clics!</h1>
                    </div>
                    <div class="card_body ">
                        <br>
                        <div class="container">


                            <div>
                                <form (ngSubmit)="SoumettreProjet()" #forme=ngForm>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="nom du projet"
                                            [(ngModel)]="Projet.nom" name="nom" required="true">
                                    </div>

                                    <div class="form-group">
                                        <p class="txtgray">Date début</p>
                                        <input class="form-control" placeholder="date debut" type="date"
                                            [(ngModel)]="Projet.dateDebut" name="date-debut" required="true">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <p class="txtgray">Date fin</p>
                                        <input type="text" class="form-control" placeholder="date fin" type="date"
                                            [(ngModel)]="Projet.dateFin" name="date-fin" required="true">
                                    </div>
                                    <br>
                                    <p class="txtgray">Secteur(s) d'intérêt</p>
                                    <div class="form-group">

                                        <select class=form-control name="domainepart" [(ngModel)]="Domaine.idDomaine"
                                            required="true">
                                            <option *ngFor="let p of domaines" [value]="p.idDomaine">{{p.domaine}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group" *ngIf="visible1">
                                        <select class=form-control name="domainepart" [(ngModel)]="Domaine1.idDomaine">
                                            <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                                {{p.domaine}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" *ngIf="visible2">
                                        <select class=form-control name="domainepart" [(ngModel)]="Domaine2.idDomaine">
                                            <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                                {{p.domaine}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" *ngIf="visible3">
                                        <select class=form-control name="domainepart" [(ngModel)]="Domaine3.idDomaine">
                                            <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                                {{p.domaine}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" *ngIf="visible4">
                                        <select class=form-control name="domainepart" [(ngModel)]="Domaine4.idDomaine">
                                            <option *ngFor="let p of domaines" [value]="p.idDomaine">
                                                {{p.domaine}}</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-block" *ngIf="visible5"
                                        (click)="rendreNextVisible()">
                                        ajouter un secteur +</button>
                                    <br>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="descriptif"
                                            [(ngModel)]="Projet.descriptif" name="descriptif" required="true">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="intéressement"
                                            [(ngModel)]="Projet.interessement" name="interet" required="true">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control"
                                            placeholder="nombre de participants souhaité"
                                            [(ngModel)]="Projet.nbrParticipants" name="nombre" required="true">
                                    </div>

                                    <nav>
                                        <button [disabled]="!forme.form.valid" class="btn btn-primary btn-block"
                                            type="submit" style="color:darkcyan; background-color : white; border-color:lightgrey;"> Soumettre le projet </button>
                                    </nav>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>




        </div>

    </div>
</div>