<div class="container">
    <br>
    <h3>Destinataire</h3>

    <form (ngSubmit)="envoiMessage()">

        <select name="particulier" required="true"  [(ngModel)]="destinataireP">
            <option *ngFor="let particulier of particuliers" [value]="particulier.idUtilisateur" >{{particulier.nom}}, {{particulier.prenom}} </option>
        </select>

        <hr>
        <div class="textwrapper">
            <textarea class="form-control textmessage" name="msgContenu" [(ngModel)]="msgEnvoi.contenu"></textarea>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-primary btn-block" type="submit" name="btnEnvoiMsg">Envoyer</button>

            </div>
        </div>
    </form>







    <br><br><br><br><br>
</div>