<div class="container bgWhite">
  <br>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="container bgWhite">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
              </div>
              <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day">
                Day
              </div>
            </div>
          </div>
        </div>
        <br />
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>


        <br />

        <h3>
          Ajoutez une étape à votre projet :
        </h3>
        <hr>
        <form class="form" (ngSubmit)="addEtapeNouveau()" name="formajout" #forme=ngForm>
          <div class="row">
            <div class="col-sm-3">
              <p class="txtgray">Type d'étape :</p>
              <input type="text" placeholder="Titre" [(ngModel)]="etapeNouveau.nom" name="nomajout" required="true">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <p class="txtgray">Date de début :</p>
              <input type="date" min="{{projet.dateDebut}}" max="{{projet.dateFin}}" class="form-control"
                [(ngModel)]="etapeNouveau.dateDebut" name="debajout" required="true">
            </div>
            <div class="col-sm-3 form-group">
              <p class="txtgray">Date de fin :</p>
              <input type="date" class="form-control" min="{{etapeNouveau.dateDebut}}" max="{{projet.dateFin}}"
                [(ngModel)]="etapeNouveau.dateFin" name="finajout" required="true">
            </div>
            <div class="col-sm-2 form-group">
              <p class="txtgray">&nbsp;</p>
              <button class="btn btn-primary btn-block" type="submit" name="submitajout"
                [disabled]="!forme.form.valid">Ajout</button>
            </div>

          </div>
          <div *ngIf="erreur" id="erreur">
            Les dates ne sont pas cohérentes !

          </div>
        </form>
        <br>
        <hr>


        <br>
        <h3>
          Consultez ou modifiez la liste de toutes les étapes du projet :

        </h3>
        <br>





        <div class="table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Début le :</th>
                <th>Fin le </th>
                <th>Supprimer</th>
              </tr>
            </thead>


            <tr *ngFor="let etape of etapesAjout">

              <td>
                <p>{{etape.nom}}</p>
              </td>

              <td>
                {{etape.dateDebut}}

              </td>
              <td>
                {{etape.dateFin}}
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteEtape(etape)">
                  Delete
                </button>
                &nbsp;
                <button class="btn btn-success" (click)="editEtape(etape)">
                  Edit
                </button>
              </td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>






</div>