


<div class="container bgWhite">

  <h1 class="nom-entreprise">{{projet.nom}}</h1>
  <br>
  <p>Participants au projet</p>
  <div *ngFor="let participation of participations ">
    {{participation.particulier.nom}}
  </div>

  <div class="container theme-showcase">
    <h1>Calendar</h1>
  <div id="holder" class="row" ></div>
  </div>
  <form method="post" enctype="multipart/form-data">
    <div style="color: skyblue;">
      <label for="image_uploads">Sélectionner des images à uploader (PNG, JPG)</label>
      <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
    </div>
    <div class="preview">
      <p>Aucun fichier sélectionné pour le moment</p>
    </div>
    <div>
      <button>Envoyer</button>
    </div>
  </form>
  
  
<!-- PLF - / -->

    <!--form action="mailto:cyril.hantala@gmail.com?subject=testjavamail" name="envoi" method=POST enctype="text/plain">
    <table><tr><td>
    <b>Nom : </b><input name="nom"size=50 maxlength=50><br>
    <b>Prenom : </b><input name="PRENOM"size=50 maxlength=50><br>
    <textarea name="message" cols="60" rows="5"></textarea>
    </td></tr></table><br>
    Est-ce votre 1ère visite sur Mon javascript
    <input type="radio" name="visite" value="oui">
    Oui - &nbsp;
    <input type="radio" name="visite" value="2-3eme">
    Non 2 à 3éme - &nbsp;
    <input type="radio" name="visite" value="4+">
    Non 4 à +<br><br>
    Votre avis sur le site
    <input type="radio" name="avis" value="tres bien">
    Tr&egrave;s Bien - &nbsp;
    <input type="radio" name="avis" value="bien">
    Bien - &nbsp;
    <input type="radio" name="avis" value="moyen">
    Moyen - &nbsp;
    <input type="radio" name="avis" value="Pas bien">
    Pas bien<br>
    <input type="submit" value="Envoyer" name="Envoyer">
    <input type="reset" name="Submit" value="Effacer">
    </form>
    <hr>
</div-->

