label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
#erreur{
    color: tomato;

}

.ng-valid[required]{
    border-left: 3px solid green;
}

.ng-invalid:not(form){
    border-left: 3px solid tomato;
}